@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Ysabeau+Infant:ital,wght@1,100;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    font-family: 'Ysabeau Infant', sans-serif;
}

nav{
    background-color: orangered;
    height: 80;
    width: 100;
}

label.Logo{
    color: ivory;
    font-size: 35px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: ivory;
    font-size: 20px;
    padding: 7px 13px;

}

a.active,
a:hover{
    color: black;
    transition: all 0.5s ease-in-out;
}

.checkbtn{
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){

    label.Logo{
        font-size: 30px;
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 740px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height:100vh;
        background: #12c59b;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 40px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,
    a.active{
        background: none;
        color: black;
    }
    #check:checked~ul{
        left: 0;
    }
}